<%= turbo_stream_from @channel %>
<div class="channel">
  <div class="channel__header">
    <h1><%= @channel.name %></h1>
  </div>

  <div class="channel__body" id="messages">
    <%= render @channel.messages %>
  </div>

  <div class="channel__footer">
    <%= turbo_frame_tag "new_message", src: new_channel_message_path(@channel), target: "_top" %>

  </div>

</div>
